
nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="#")
        img(src="img/CoAct.svg" onerror="this.onerror=null; this.src='img/CoAct.png'")
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href="#") Home
        li
          a(href="#") About Us
        li
          a(href="#") Contact

.container
  .page-header
    img(src="img/CoAct.svg" onerror="this.onerror=null; this.src='img/CoAct.png'")

  div(ui-view)
