.jumbotron
  .container
    .row
      .col-md-8
        h1 Process Com
        p
        | Une meilleure connaissance de soi, de son propre fonctionnement en condition normale et sous stress,
        | de nos attentes vis-à-vis de notre environnement et des personnes avec lesquelles nous communiquons
.jumbotron.blue
  .container
    .row
      .col-md-8.col-md-push-4
        h1 Training games
        p
        | Des formations sous forme de collaboratives games,
        | véritable innovation pédagogique permettant une appropriation immédiate des contenus de la formation
