@import '../../../bower_components/bootstrap/less/bootstrap.less';

.space-left {
  margin-left: 5px;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
    font-family: Ubuntu, "times new roman", times, roman, serif !important;
}

.coactcss{
  .header {
    text-align: center;
  }

  /* Nav
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .navbar-brand {
    padding: 0 0 5px 0;

    img {
      height: 100%;
    }
  }


  /* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .section {
    padding: 8rem 0 7rem;
    text-align: center;
  }

  /* Description
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

}
