doctype html
html
  head
    link(rel="stylesheet" href="css/homepage.css")
    link(rel="stylesheet" href="css/skeleton.css")
    link(rel="stylesheet" href="css/normalize.css")
    title Coact
    meta(charset='utf-8')
  body
    div(class='section description')
      div(class='container')
        div(class='twelve column')
          img(src='img/CoAct.png' class='u-max-full-width')
    div(class='section')
      div(class='container')
        div(class='row')
          div(class='one-third column')
            p Website
          div(class='one-third column')
            p in
          div(class='one-third column')
            p Construction
