doctype html
html(lang="fr", ng-app="%module%")
  head
    title Coact
    meta(charset="utf-8")
    script.
      FileAPI = {
        jsPath: 'js/FileAPI.min.js',
        staticPath: '/flash/FileAPI.flash.swf',
        //- forceLoad: true, html5: false //to debug flash in HTML5 browsers
        //- noContentTimeout: 10000 (see #528)
      }
    link(rel="stylesheet", href="%styles%/main.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    meta(name="viewport", content="initial-scale=1.0, width:device-width")
  body.coactcss
    ui-view
    script(src="%scripts%/vendor.js")
    script(src="%scripts%/app.js")
    script(src="%scripts%/templates.js")
